* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-menu-launcher {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #161618;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #121213;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.texts {
    width: 100%;
}

.launchButton {
    display: block;
    background-color: #1990ff;
    border: 0.1px solid #e7e7e7;
    width: 260px;
    height: 45px;
    font-family: "Ubuntu";
    font-weight: 700;
    color: #e7e7e7;
    border-radius: 5px;
    transition: all 0.155s;
    position: fixed;
    margin-right: 113px;
}

.content-right p {
    margin-left: 200px;
    margin-top: 550px;
}

.config {
    background-color: #1a1a1b;
    border: 0.1px solid #353a3f;
    padding: 5px;
    margin-top: -110px;
    margin-left: 115px;
    border-radius: 5px;
    cursor: pointer;
}

.iconconfig {
    color: white;
    width: 20px;
    height: 20px;
}

.text-center {
    text-align: center;
    margin-left: 110px;
    margin-top: 30px;
    color: #52a3ff;
    font-size: 25px;
    font-family: "Ubuntu";
}

.launchButton:hover {
    background-color: #16bdff;
    cursor: pointer;
}

.buttons-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -310px;
    margin-top: 350px;
}

.texts a {
    display: block;
    font-family: "Ubuntu";
    color: rgb(95, 92, 92);
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    margin-left: 80px;
}

.texts a:hover {
    color: #52a3ff;
}

.texts {
    width: 100%;
}

.texts1 a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    margin-left: -10px;
    margin-top: 80px;
}

.bardivision {
    border: 0.1px solid #2b2c2e;
    width: 220px;
    height: 0.1px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}

.bardivision1{
    border: 0.1px solid #2b2c2e;
    width: 220px;
    height: 0.1px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}

.texts svg {
    vertical-align: middle;
    margin-left: 50px;
    width: 20px;
    height: 20px;
    margin-bottom: -50px;
}

.main-menu-launcher .content-right .panel-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #121213;
    border: 0.01px solid #353a3f;
    border-radius: 5px;
    width: 600px;
    height: 200px;
    margin-top: 30px;
    overflow: hidden;
    margin-left: 120px;
}

.main-menu-launcher .content-right .panel-center img {
    width: auto;
    height: 340px;
}

.image-panel {
    filter: blur(2px);
}